/* RESET */
img {
    max-width: 100%;
}

/* COMMON */
.ms-container {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN */
/* Current Img */
.current-photo img {
    color: white;
    display: block;
}

.single-item {
    position: relative;
}

.game-description {
    color: white;
}

.title {
    position: absolute;
    z-index: 999;
    right: 10px;
    text-align: right;
}

.title-description {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 40px;
    text-align: right;
}

.single-item {
    display: none;
}

.single-item.active {
    display: block;
}
/* Thumbnail section */
.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #000;
}

.col {
    width: calc(100% / 5);
}

.ms-card {
    width: 100%;
    height: 100%;
    opacity: .5;
}

.ms-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.ms-card.active {
    opacity: 1;
    z-index: 99;
}

/* Buttons */
#previous-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    z-index: 999;
}

#previous-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

div i {
    color: #212529;
}